{% for cust,vpn in service|dictsort %}
security {
    ike {
        policy {{ cust }} {
            mode main;
            proposals {{ vpn.ike_settings }};
            pre-shared-key ascii-text {{ vpn.psk }};
        }
        gateway {{ cust }} {
            ike-policy ADVA-ASR-IKE-POLICY;
            address {{ vpn.ike_peer }};
            external-interface ge-0/0/0.0;
        }
    }
    ipsec {
        policy {{ cust }} {
            proposals {{ vpn.ipsec_settings }};
        }
        vpn {{ cust }} {
            bind-interface st0.{{ vpn.id }};
            ike {
                gateway {{ cust }};
                ipsec-policy {{ cust }};
            }
            establish-tunnels immediately;
        }
    }
}
interfaces {
    st0 {
        unit {{ vpn.id }} {
            description {{ cust }};
            family inet {
            }
        }
    }
    ge-0/0/1 {
        unit {{ vpn.id }} {
            description {{ cust }}
            family inet {
                address {{ vpn.local_net }}
            }
         }
     }
}
routing-instances {
    {{ cust }} {
        instance-type virtual-router;
        interface ge-0/0/1.{{ vpn.id }};
        interface st0.{{ vpn.id }};
        routing-options {
            static {
{% for net in vpn.remote_nets %}
                route {{ net }} next-hop st0.{{ vpn.id }};
{% endfor %}
            }
         }
     }
}
{% endfor %}
