{% for cust,vpn in service|dictsort %}
security {
    ike {
        policy {{ cust }} {
            mode main;
            proposals {{ vpn.ike_settings }};
            pre-shared-key ascii-text {{ vpn.psk }};
        }
        gateway {{ cust }} {
            ike-policy ADVA-ASR-IKE-POLICY;
            address {{ vpn.ike_peer }};
            external-interface ?????;
            local-address ?????;
            version v2-only;
        }
    }
    ipsec {
        policy {{ cust }} {
            proposals {{ vpn.ipsec_settings }};
        }
        vpn {{ cust }} {
            bind-interface st0.{{ vpn.id }};
            ike {
                gateway {{ cust }};
                ipsec-policy {{ cust }};
            }
            establish-tunnels immediately;
        }
    }
}
interfaces {
    st0 {
        unit {{ vpn.id }} {
            description {{ cust }};
            family inet {
            }
        }
    }
}
routing-instances {
    {{ cust }} {
        instance-type virtual-router;
        interface ???????;
        interface st0.{{ vpn.id }};
        routing-options {
            static {
                route {{ vpn.remote_net }} next-hop st0.{{ vpn.id }}
        }
    }
}
{% endfor %}
